<div class="container" style="padding: 20px">
    <div class="cadastro-cliente">
        <form [formGroup]="form" (ngSubmit)="cadastrarCliente()">
          <div class="form-row" style="background: #FAFAFA; ">
              <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Nome do Cliente</label>
                  <input type="text" class="form-control"  placeholder="nome"
                  formControlName="nome">
                  <small *ngIf="form.get('nome').valid && form.get('nome').touched" class="form-text text-success">✓</small>
                  <small *ngIf="form.get('nome').invalid && form.get('nome').touched" class="form-text text-danger" >Nome inválido</small>
                </div>
          </div>
        <div class="form-row" style="background: #FAFAFA; ">
          <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Nome do Contato</label>
            <input type="text" class="form-control"  placeholder="nomeContato"
            formControlName="nomeContato">
            <small *ngIf="form.get('nomeContato').valid && form.get('nomeContato').touched" class="form-text text-success">✓</small>
            <small *ngIf="form.get('nomeContato').invalid && form.get('nomeContato').touched" class="form-text text-danger" >Nome do contato inválido</small>
          </div>
        </div>
        <div class="form-row" style="background: #FAFAFA;  ">  
          <div class="form-group col-md-6">
              <label for="exampleInputPassword1">Data se tornou cliente</label>
              <input type="date" class="form-control" formControlName="date">
              <small *ngIf="form.get('date').valid && form.get('date').touched" class="form-text text-success">✓</small>
              <small *ngIf="form.get('date').invalid && form.get('date').touched" class="form-text text-danger" >Data inválida</small>
          </div>
        </div>  
          <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-lg">Cadastrar</button>
          <button type="button" routerLink="/" class="btn btn-danger btn-lg">Cancelar</button>
        </form>
      
  </div>
</div>
