<div class="jumbotron jumbotron-fluid">
  <div class="cadastro-cliente">
  <div class="container">
      <div class="form-group col-md-6">
        <form [formGroup]="form" (ngSubmit)="cadastrarCliente()">
          <div class="form-group">
            <label for="exampleInputEmail1">Nome do Cliente</label>
            <input type="text" class="form-control"  placeholder="nome"
            formControlName="nome">
            <small *ngIf="form.get('nome').valid && form.get('nome').touched" class="form-text text-success">✓</small>
            <small *ngIf="form.get('nome').invalid && form.get('nome').touched" class="form-text text-danger" >Nome inválido</small>
          </div>
        
          <div class="form-group">
            <label for="exampleInputPassword1">Nome do Contato</label>
            <input type="text" class="form-control"  placeholder="nomeContato"
            formControlName="nomeContato">
            <small *ngIf="form.get('nomeContato').valid && form.get('nomeContato').touched" class="form-text text-success">✓</small>
            <small *ngIf="form.get('nomeContato').invalid && form.get('nomeContato').touched" class="form-text text-danger" >Nome do contato inválido</small>
          </div>
          
          <div class="form-group">
              <label for="exampleInputPassword1">Data se tornou cliente</label>
              <input type="date" class="form-control" formControlName="date">
              <small *ngIf="form.get('date').valid && form.get('date').touched" class="form-text text-success">✓</small>
              <small *ngIf="form.get('date').invalid && form.get('date').touched" class="form-text text-danger" >Data inválida</small>
          </div>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
          <button type="button" class="btn btn-danger">Cancelar</button>
        </form>
      </div>
  </div>
</div>
</div>