.navbar {
    background: #FFF
}
.menu {
    background: #2484b2
}

.nav-link {
    color: #C1E4FF
}

.nav-link:hover{
    color: #FFF
}

.banner {
    margin-top: 112px;
    background: rgb(131, 82, 196)
}

.banner img {
    margin-left: 68px;
    width: 28%;
    height: 10%;
    position: relative;
}

.active {
    color: #FFF 
}